/*The CSS code is property to Mr. You (Kristiyan Valchev) and can only be viewed*/
/*If you want to use part of the code, please first contact me: mr.youdevelopment@gmail.com*/

html
{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    background-color: #090d19;
    overflow-x: hidden;
}

body::before
{
    content: "";
    position: fixed;
    top: -20;
    left: 0;
    width: 100%;
    height: 20px;
    box-shadow: 0px 0px 30px #000000;
    z-index: 100;
}
/*#region Scrow bar */
::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: #090d19;
}

::-webkit-scrollbar-thumb
{
	background: #e5e5e580;
}

::-webkit-scrollbar-thumb:hover
{
	background: #4b5063;
}
/*#endregion Scrow bar */

/*#region Loader */
.Loader
{
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #090d19;
	justify-content: center;
	align-items: center;
    overflow: hidden;
    
    z-index: 99;
}

.Loader.hidden
{
	animation: fadeOutt 1s;
    animation-fill-mode: forwards;
	overflow-y: visible;
}

.Loader .Letter
{
    position: absolute;
    width: 20px;
    height: 36px;
    font-size: 22px;
    color: #e5e5e5;
    z-index: 100;
    
    animation: move 4s linear infinite;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    opacity: 0;
}

.Loader .Letter:nth-child(2)
{
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.Loader .Letter:nth-child(3)
{
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.Loader .Letter:nth-child(4)
{
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.Loader .Letter:nth-child(5)
{
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.Loader .Letter:nth-child(6)
{
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.Loader .Letter:nth-child(7)
{
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

@keyframes move
{
    0%
    {
        left: 0;
        opacity: 0;
    }

    35%
    {
        left: 41%; 
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity:1;
    }

    65%
    {
        left: 59%; 
        -moz-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        -o-transform: rotate(0deg);
        transform: rotate(0deg); 
        opacity: 1;
    }

    100%
    {
        left: 100%; 
        -moz-transform: rotate(-180deg); 
        -webkit-transform: rotate(-180deg); 
        -o-transform: rotate(-180deg); 
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@keyframes fadeOutt
{
	100%
	{
        visibility: hidden;
        opacity: 0;
	}
}
/*#endregion Loader */

/*#region Top bar */
.topBar
{
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    background-color: transparent;

    z-index: 30;

    animation: dropDown .5s ease-out forwards .5s;
    transform: translateY(-50px);
    opacity: 0;
}

.topBar a
{
    float: right;
    position: relative;
    top: 45;
    right: 30;
    font-size: 26px;
    font-weight: 100;
    line-height: 30px;
    color: #e5e5e5;
    padding: 0px 24px;

    text-shadow: 5px 5px 3px #00000060;

    animation: fadeIn .3s ease-out forwards .55s;
    opacity: 0;
}

.topBar.Learn a
{
    color: #090d19;
}

.topBar a::before
{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: -5px;
    left: 5%;
    background-color: #e5e5e5;
    visibility: hidden;
    transform: scaleX(0);
    
    transition: ease .3s;
}

.topBar.Learn a::before
{
    background-color: #090d19;
}

.topBar a:hover::before, .topBar a.Logo:hover::before
{
    visibility: visible;
    transform: scaleX(1);
}

.topBar a.Logo
{
    float: left;
    left: 54;
    right: auto;
    font-size: 36px;
    line-height: 40px;
    padding: 0;
    padding-left: 70px;
    padding-right: 24px;
}

.topBar a.Logo::before
{
    width: 98px;
    left: 56px;
}

.topBar a img
{
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
}

.topBar a.Logo:hover img
{
    height: 85px;
    transform: translateX(-2.5px);
}

.topBar a.Active
{
    font-weight: normal;
}

.topBar div.hasDropdown
{
    float: right;
    position: relative;
    width: auto;
    height: 30px;
    top: 45;
    right: 30;

    z-index: 5;
}

.topBar div.hasDropdown a
{
    top: 0;
    right: 0;
    padding-bottom: 5px;
}

.topBar div.hasDropdown .dropDownMenu
{
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 35;
    left: 0;
    background-image: linear-gradient(to bottom, #090d19, transparent);

    animation: popUp .3s ease-out forwards;
    transform: translateY(50px);
    opacity: 0;
}

.topBar div.hasDropdown:hover .dropDownMenu, .dropDownMenu:hover
{
    display: block;
}

.topBar div.hasDropdown .dropDownMenu a
{
    float: left;
    position: relative;
    top: 10;
    left: 0;
    right: auto;
    color: #e5e5e5;
    margin-bottom: 15px;

    animation: fadeIn .3s ease-out forwards .2s;
    opacity: 0;
}

.topBar div.hasDropdown .dropDownMenu a:nth-last-child(1)
{
    margin-bottom: 20px;
}

.topBar div.hasDropdown .dropDownMenu a:hover
{
    letter-spacing: 2px;
}

.topBar div.hasDropdown .dropDownMenu a.Active
{
    font-weight: normal;
}

.topBar a.threeLineButton
{
    display: none;
    float: right;
    position: absolute;
    width: 60px;
    height: 32px;
    padding: 0;
}

.topBar a.threeLineButton div
{
    float: right;
    position: absolute;
    height: 1px;
    right: 0;
    background-color: #e5e5e5;
}

.topBar.Learn a.threeLineButton div
{
    background-color: #090d19;
}

.topBar a.threeLineButton div:nth-child(1)
{
    width: 100%;
    top: 1;
}

.topBar a.threeLineButton div:nth-child(2)
{
    width: 50%;
    top: calc(50% - .5px);
}

.topBar a.threeLineButton div:nth-child(3)
{
    width: 100%;
    bottom: 0;
}

.topBar a.threeLineButton:hover div
{
    width: 100%;
}

.topBar a.threeLineButton:hover::before, .topBar div.hasDropdown .dropDownMenu a:hover::before
{
    visibility: hidden;
}
/*#endregion Top bar */

/*#region Side menu */
.siteMenu
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #090d19;

    z-index: 40;

    transform: translateX(100%);
}

.siteMenu a.closeButton
{
    float: right;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30;
    left: auto;
    right: 30;
}

.siteMenu a.closeButton div
{
    position: absolute;
    width: 100%;
    height: 1px;
    top: calc(50% - 2px);
    left: 0;
    background-color: #e5e5e5;
}

.siteMenu a.closeButton div:nth-child(1)
{
    transform: rotate(45deg);
}

.siteMenu a.closeButton div:nth-child(2)
{
    transform: rotate(-45deg);
}

.siteMenu a.closeButton:hover
{
    width: 65px;
    height: 65px;
}

.siteMenu a
{
    position: absolute;
    width: 100%;
    top: 120;
    left: 0;
    font-size: 26px;
    font-weight: 100;
    text-align: center;
    line-height: 26px;
    color: #e5e5e5;
}

.siteMenu a:nth-child(3) { top: 180; }
.siteMenu a:nth-child(4) { top: 240; }
.siteMenu a:nth-child(5) { top: 300; }

.siteMenu a:hover
{
    letter-spacing: 5px;
}

.siteMenu a.Active div:nth-child(1)
{
    position: absolute;
    width: 40px;
    height: 2px;
    top: calc(50% - 1px);
    left: calc(50% - 150px);
    background-color: #e5e5e5;
}

.siteMenu a.Active div:nth-child(2)
{
    position: absolute;
    width: 40px;
    height: 2px;
    top: calc(50% - 1px);
    left: calc(50% + 110px);
    background-color: #e5e5e5;
}

.siteMenu a.Active:hover div:nth-child(1)
{
    left: calc(50% - 160px);
}

.siteMenu a.Active:hover div:nth-child(2)
{
    left: calc(50% + 120px);
}
/*#endregion Side menu */

/*#region Main things */
.backGround
{
    position: absolute;
    width: 100%;
    height: 1500px;
    top: 0;
    left: 0;
    mix-blend-mode: screen;

    z-index: -1;

    animation: backGroundAnimation .5s ease-out forwards .3s;
    top: -500;
    opacity: 0;
}

.backGround.Home
{
    background-image: radial-gradient(circle at 50% 0%, #4b5063 100px, transparent 80%);
}

.backGround.About
{
    background-image: radial-gradient(circle at 50% 0%, #4b5063 100px, transparent 80%),
                      radial-gradient(circle at 100% 0%, #ADFF67b0 0px, transparent 40%),
                      radial-gradient(circle at 0% 35%, #D273FF80 0px, transparent 40%);
}

.backGround.Learn
{
    background-image: radial-gradient(circle at 50% 0%, #FBFFA8 100px, transparent 60%),
                      radial-gradient(circle at 100% 0%, #FF0100 0px, transparent 60%),
                      radial-gradient(circle at -20% 15%, #37FFFEa0 0px, transparent 40%);
}

.backGround.hiddenPage
{
    background-image: radial-gradient(circle at 50% 0%, #FF0000 0px, transparent 80%);
}

.redirectionButtonAnimationBox
{
    position: fixed;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;

    z-index: 90;
}

.redirectionButtonAnimationBox.a01
{
    background-color: #090d19;
}

.redirectionButtonAnimationBox.a02
{
    background-color: #e5e5e5;
}

.redirectionButtonAnimationBox.a03
{
    background-color: #090d19;
}

.ballImage
{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200;
    left: calc(50% - 200px);

    animation: dropDown .5s ease-out forwards .9s;
    transform: translateY(-50px);
    opacity: 0;
}

.ballRingHolder
{
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow: hidden;
}

.ballRing
{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 150;
    left: calc(50% - 250px);
    background-color: transparent;
    border: solid 1px #e5e5e5;
    border-radius: 999px;
    opacity: .3;

    z-index: -1;

    animation: ballRingAnimation 5s infinite ease-out;
    width: 350px;
    height: 350px;
    top: 225;
    left: calc(50% - 175px);
}

.Title
{
    position: absolute;
    width: 100%;
    top: 420;
    left: 0;
    font-size: 130px;
    font-weight: lighter;
    text-align: center;
    line-height: 130px;
    color: #e5e5e5;

    animation: dropDown .5s ease-out forwards 1s;
    transform: translateY(-50px);
    opacity: 0;
}

.Title:hover
{
    letter-spacing: 5px;
}

.Title:hover + .subTitle
{
    letter-spacing: 15px;
}

.subTitle
{
    position: absolute;
    width: 100%;
    top: 550;
    left: 0;
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    line-height: 36px;
    color: #e5e5e5;
    letter-spacing: 10px;

    animation: dropDown .5s ease-out forwards 1.05s;
    transform: translateY(-50px);
    opacity: 0;
}

.subTitle:hover
{
    letter-spacing: 15px;
}

.pageNumber
{
    float: right;
    position: absolute;
    bottom: 30;
    right: 54;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    line-height: 60px;
    color: #e5e5e5;

    animation: dropDown .5s ease-out forwards 1.1s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageNumber:hover
{
    letter-spacing: 2px;
}
/*#endregion Main things */

/*#region Page parts */
.pageContent
{
    position: absolute;
    width: 100%;
    height: auto;
    top: 1100px;
    left: 0;
    background-color: transparent;

    z-index: -5;
}

.sectionHolderBG
{
    position: relative;
    width: 100%;
    height: 500px;
    top: 10;
    left: 0;
    background-color: #c2a307;
    box-shadow: 10px 10px 20px #00000080;
    margin-bottom: 500px;
    
    z-index: -2;
}

.sectionHolderBG.Learn
{
    background-color: #028bc2;
}

.sectionHolderBG.Learn.pRelative
{
    margin-bottom: 200px;
}

.sectionHolderBG.Projects
{
    background-color: #61da7d;
}

.sectionHolderBG.hiddenPage
{
    background-color: #F56141;
}

.sectionHolder
{
    position: absolute;
    width: calc(50% - 60px);
    height: 500px;
    top: -80;
    background-color: #343849;
    box-shadow: 10px 10px 20px #00000080;
    border-radius: 30px;

    z-index: 0;
}

.sectionHolderBG.Left .sectionHolder
{
    float: left;
    left: 30;
}

.sectionHolderBG.Right .sectionHolder
{
    float: right;
    right: 30;
}

.sectionHolder .sectionTitle
{
    position: absolute;
    width: calc(100% - 240px);
    top: 160;
    left: 120;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    color: #e5e5e5;
}

.sectionHolder .sectionTitle div
{
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10;
    left: 0;
    background-color: #e5e5e5;
    opacity: .7;
}

.sectionHolder .sectionText
{
    position: absolute;
    width: calc(100% - 240px);
    top: 230;
    left: 120;
    font-size: 20px;
    font-weight: 100;
    line-height: 24px;
    color: #e5e5e5;
}

.sectionHolderBG.Learn .sectionHolder .sectionText a
{
    color: #028bc2;
    filter: brightness(5);
}

.sectionHolder a.sectionButton
{
    float: right;
    position: absolute;
    bottom: 30;
    right: 30;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    line-height: 22px;
    background-color: #090d19;
    border-radius: 30px;
    padding: 12px 30px;
}

.sectionHolder a.sectionButton#HiddenPageButton
{
    display: none;
}

.sectionHolder a.sectionButton:hover
{
    padding: 12px 35px;
}

.sectionImage
{
    position: absolute;
    width: calc(50% + 60px);
    top: 80;
    background-color: transparent;
    box-shadow: 10px 10px 20px #00000080;
    filter: brightness(.9);
    border-radius: 30px;

    z-index: -1;
}

.sectionHolderBG.Left .sectionImage
{
    float: right;
    right: 30;
}

.sectionHolderBG.Right .sectionImage
{
    float: left;
    left: 30;
}

.sectionTitle
{
    position: absolute;
    width: calc(100% - 120px);
    top: 1000;
    left: 54;
    font-size: 50px;
    font-weight: normal;
    line-height: 50px;
    color: #e5e5e5;
}
/*#endregion Page parts */

/*#region Scroll section */
.scrollSectionHolder
{
    position: relative;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 100px;
}

.scrollSectionHolder::-webkit-scrollbar
{
    height: 5px;
}

.scrollSectionHolder::-webkit-scrollbar-thumb
{
    border-radius: 999px;
}

.scrollSectionHolder .scrollSectionBox
{
    display: inline-block;
    position: relative;
    height: 70px;
    top: 0;
    left: 30;
    background-color: #028bc2;
    border-radius: 20px;
    margin-right: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.scrollSectionHolder .scrollSectionBox:hover
{
    filter: brightness(1.3);
}

.scrollSectionHolder .scrollSectionBox.Active
{
    background-color: green;
    filter: brightness(1.7);
}

.scrollSectionHolder .scrollSectionBox.Last
{
    margin-right: 60px;
}

.scrollSectionHolder .scrollSectionBox .scrollSectionBoxTitle
{
    position: relative;
    width: 100%;
    height: 100%;
    top: calc(50% - 16px);
    left: 0;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    line-height: 32px;
    color: #e5e5e5;
    text-shadow: 5px 5px 3px #00000060;
}

.scrollSectionHolder .scrollSectionBox:hover .scrollSectionBoxTitle
{
    text-shadow: none;
}
/*#endregion Scroll section */

/*#region learn box with info*/
.learnBoxHolder
{
    position: relative;
    width: calc(100% - 60px);
    min-height: 200px;
    top: 0;
    left: 30;
    background-color: #ffffff10;
    border-radius: 30px;
    margin-bottom: 150px;
    padding-bottom: 40px;

    animation: fadeIn .6s ease-out forwards;
    opacity: 0;
}

.learnBoxHolder .learnBoxHolderTitle
{
    position: relative;
    width: calc(100% - 60px);
    top: 0;
    left: 30;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    color: #e5e5e5;
    padding-top: 20px;
}

.learnBoxHolder .learnBoxHolderText
{
    position: relative;
    width: calc(100% - 60px);
    top: 0;
    left: 30;
    font-size: 22px;
    font-weight: normal;
    line-height: 32px;
    color: #e5e5e580;
    padding-top: 20px;
    padding-bottom: 60px;
}

.learnBoxHolder .learnBoxHolderText a
{
    color: #028bc2a0;
    filter: brightness(5);
}

.learnBoxHolder .learnBoxHolderDownloadButton
{
    position: relative;
    top: 0;
    left: 30;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: #e5e5e5;
    background-color: #343849;
    border-radius: 30px;
    padding: 12px 30px;
}

.learnBoxHolder .learnBoxHolderDownloadButton i
{
    margin-right: 15px;
}

.learnBoxHolder .learnBoxHolderDownloadButton:hover
{
    letter-spacing: 1px;
}

.learnBoxHolder .learnBoxHolderList
{
    position: relative;
    width: calc(100% - 60px);
    top: 0;
    left: 30;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.learnBoxHolder .learnBoxHolderListLine
{
    position: relative;
    width: calc(100% - 60px);
    top: 0;
    left: 30;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    color: #e5e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineText
{
    position: relative;
    width: calc(100% + 15px);
    top: 0;
    left: 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 32px;
    color: #e5e5e580;
    padding-bottom: 20px;
}

.learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample
{
    position: relative;
    width: calc(100% + 15px);
    height: auto;
    top: 0;
    left: 0;
    background-color: #028bc260;
    word-break: break-all;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 20px;
}

.learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample .learnBoxHolderListLineExampleTitle
{
    position: relative;
    width: calc(100% - 60px);
    top: 0;
    left: 30;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: #e5e5e5;
    padding-top: 0px;
}

.learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample .learnBoxHolderListLineExampleText
{
    position: relative;
    width: calc(100% - 60px);
    top: 0;
    left: 30;
    font-size: 22px;
    font-weight: normal;
    line-height: 32px;
    color: #e5e5e5e0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample .learnBoxHolderListLineButton
{
    float: right;
    position: relative;
    top: 0;
    right: 15;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    color: #e5e5e5;
    background-color: #028bc260;
    border-radius: 30px;
    padding: 12px 30px;
}

.learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample .learnBoxHolderListLineButton:hover
{
    filter: brightness(1.3);
}

.learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineText a
{
    color: #028bc2a0;
    filter: brightness(5);
}
/*#endregion learn box with info*/

/*#region Cards */
.cardHolder
{
    position: relative;
    width: 100%;
    height: 420px;
    background-color: transparent;
    margin-bottom: 200px;
}

.Card
{
    position: absolute;
    top: 0;
    width: calc(100% - 300px);
    height: 420px;
    background-color: #343849;
    box-shadow: 10px 10px 20px #00000080;
}

.Card.Left
{
    left: 0;
    margin-right: 300px;
}

.Card.Right
{
    float: right;
    right: 0;
    margin-left: 300px;
}

.Card .cardData
{
    position: absolute;
    top: 15;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    line-height: 16px;
    color: #e5e5e580;
}

.Card.Left .cardData
{
    float: right;
    right: 15;
}

.Card.Right .cardData
{
    left: 15;
}

.Card .cardTitle
{
    position: absolute;
    width: calc(100% - 240px);
    top: 60;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    color: #e5e5e5;
}

.Card.Left .cardTitle
{
    left: 120;
}

.Card.Right .cardTitle
{
    float: right;
    right: 120;
    text-align: right;
}

.Card .cardTitle div
{
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10;
    left: 0;
    background-color: #e5e5e5;
    opacity: .7;
}

.Card .cardText
{
    position: absolute;
    width: calc(100% - 240px - 400px);
    top: 120;
    font-size: 20px;
    font-weight: 100;
    line-height: 24px;
    color: #e5e5e5;
}

.Card.Left .cardText
{
    left: 120;
}

.Card.Right .cardText
{
    float: right;
    right: 120;
    text-align: right;
}

.Card .cardImage
{
    position: absolute;
    max-width: 600px;
    max-height: 400px;
    bottom: -100;
}

.Card.Left .cardImage
{
    float: right;
    right: -200;
}

.Card.Right .cardImage
{
    left: -200;
}

.Card a.cardButton
{
    position: absolute;
    bottom: 30;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    line-height: 22px;
    background-color: #090d19;
    padding: 12px 30px;
}

.Card.Left a.cardButton
{
    float: right;
    right: 430;
}

.Card.Right a.cardButton
{
    left: 430;
}

.Card a.cardButton:hover
{
    padding: 12px 35px;
}
/*#endregion Cards */

/*#region Boxes */
.boxHolderX3
{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: transparent;
    margin-bottom: 200px;
}

.boxHolderX3 .boxeBG
{
    position: absolute;
    height: 100%;
    background-color: #343849;
    box-shadow: 10px 10px 20px #00000080;
    border-radius: 30px;
}

.boxHolderX3 .boxeBG:nth-child(1)
{
    width: calc(33% - 60px - 30px);
    top: 0;
    left: 60;
}

.boxHolderX3 .boxeBG:nth-child(2)
{
    width: calc(33% - 30px - 30px);
    top: 0;
    left: calc(50% - (33% - 30px - 30px) / 2);
}

.boxHolderX3 .boxeBG:nth-child(3)
{
    float: right;
    width: calc(33% - 30px - 60px);
    top: 0;
    right: 60;
}

.boxHolderX3 .boxeBG .boxImage
{
    position: absolute;
    width: 100px;
    top: 30;
    left: calc(50% - 50px);
}

.boxHolderX3 .boxeBG .boxTitle
{
    position: absolute;
    width: calc(100% - 60px);
    top: 160;
    left: 30;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    line-height: 32px;
    color: #e5e5e5;
}

.boxHolderX3 .boxeBG .boxText
{
    position: absolute;
    width: calc(100% - 60px);
    height: auto;
    top: 220;
    left: 30;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    list-style: 24px;
    color: #e5e5e5;
}

.boxHolderX3 .boxeBG .boxButton
{
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 30;
    left: calc(50% - 100px);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: #e5e5e5;
    background-color: #090d19;
    border-radius: 999px;
}

.boxHolderX3 .boxeBG .boxButton:hover
{
    width: 220;
    left: calc(50% - 110px);
}
/*#endregion Boxes */

/*#region Stars */
.starsHolder
{
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
    background-color: transparents;
    overflow: hidden;

    z-index: -2;

    animation: fadeIn .3s ease-out forwards .7s;
    opacity: 0;
}

.stars, .twinkling, .clouds
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.stars
{
    background: #000 url(../Images/starSky.png) repeat top center;
    z-index: 0;
}

.twinkling
{
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;

    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.clouds
{
    background: transparent url(../Images/mainPageCloudss.png) repeat-x top center;
    z-index: 0;
    opacity: .5;

    animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
}

.clouds.Home
{
    background: transparent url(../Images/mainPageClouds.png) repeat-x top center;
}

.clouds.About
{
    background: transparent url(../Images/aboutPageClouds.png) repeat-x top center;
}

.clouds.Learn
{
    background: transparent url(../Images/learnPageClouds.png) repeat-x top center;
}

.hider
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 90%, #070a14); /* 090d19 070a14 */

    z-index: 2;
}


@keyframes move-twink-back
{
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

@-webkit-keyframes move-twink-back
{
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

@-moz-keyframes move-twink-back
{
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

@-ms-keyframes move-twink-back
{
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

@keyframes move-clouds-back 
{
    from { background-position: 0 0; }
    to { background-position: 10000px 0; }
}
@-webkit-keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0;}
}

@-moz-keyframes move-clouds-back
{
    from { background-position: 0 0; }
    to { background-position: 10000px 0; }
}

@-ms-keyframes move-clouds-back
{
    from { background-position: 0; }
    to { background-position: 10000px 0; }
}
/*#endregion Stars */

/*#region Hudden page parts */
.hoddenPageNotification
{
    display: none;
    position: fixed;
    width: calc(50% - 30px);
    height: 50px;
    bottom: 30;
    left: 30;
    background-color: #e5e5e5;

    animation: popUp .3s ease-out forwards;
    transform: translateY(81px);
    opacity: 0;
}

.hoddenPageNotification a
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hoddenPageNotification h6
{
    position: absolute;
    width: 100%;
    top: 6;
    left: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    color: #090d19;
}

.hoddenPageNotification p
{
    position: absolute;
    width: 100%;
    top: 26;
    left: 0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 18px;
    color: #090d19;
    opacity: .8;
}

.hoddenPageNotification:hover
{
    opacity: .8;
}

.hoddenPageNotification:hover h6, .hoddenPageNotification:hover p
{
    letter-spacing: 2px;
}

.hiddenPageBanner
{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: radial-gradient(circle at 50% 0%, #4b5063 100px, #090d19 80%);

    z-index: 50;
}

.hiddenPageBanner h1
{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #e5e5e5;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.hiddenPageBanner a
{
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    color: #e5e5e5;
    background-color: #2a2b54;
    border-radius: 999px;
    padding: 20px 40px;
}

.hiddenPageBanner a:hover
{
    background-color: #191a43;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*#endregion Hudden page parts */

/*#region Bottom bar */
.bottomBar
{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 4900;
    left: 0;
    background-color: #060d14;
}

.bottomBar.aboutPage
{
    top: 5300;
}

.bottomBar.LearnPage
{
    top: 2800;
}

.bottomBar.pRelative
{
    position: relative;
    top: 0;
}

.bottomBar.hiddenDownload
{
    top: 2400;
}

.bottomBar .directionButton
{
    position: absolute;
    width: 25%;
    height: 50px;
    top: 60;
    background-color: transparent;
}

.bottomBar .directionButton.H
{
    left: 0;
}

.bottomBar .directionButton.A
{
    left: 25%;
}

.bottomBar .directionButton.L
{
    left: 50%;
}

.bottomBar .directionButton.P
{
    left: 75%;
}

.bottomBar a
{
    position: absolute;
    width: 100%;
    top: calc(50% - 18px);
    left: 0;
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    color: #e5e5e5;
    opacity: .7;
}

.bottomBar a:hover
{
    opacity: 1;
}

.bottomBar a.Active
{
    font-weight: normal;
}

.bottomLinksHolder
{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 140;
    left: 0;
    text-align: center;
}

.bottomLinksHolder a
{
    position: relative;
    font-size: 26px;
    padding-left: 30px;
    padding-right: 30px;
}

.bottomBar .Credits
{
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 10;
    text-align: center;
    color: #e5e5e540;
}

.bottomBar .Credits powerd:hover company
{
    color: #61da7d;
    transition: ease .3s;
}

.bottomBar .Credits managed:hover my
{
    color: #028bc2;
    transition: ease .3s;
}
/*#endregion Bottom bar */

img
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    color: #e5e5e5;
    transition: ease .3s;
    padding: 0;
    margin: 0;
}

a
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #e5e5e5;
    transition: ease .3s;
}

p, div, h1, h2, h3, h4, h5, h6, i, img
{
    padding: 0;
    margin: 0;
    cursor: context-menu;
    transition: ease .3s;
}

.contentSoon
{
    position: relative;
    width: calc(100% - 60px);
    top: 0;
    left: 30;
    background-color: #343849;

    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 90px;
    color: #e5e5e5;
}

code
{
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #222;
    padding: 2px;
}

/*#region Animations */
@keyframes backGroundAnimation
{
    0%
    {
        top: -500;
        opacity: 0;
    }

    100%
    {
        top: 0;
        opacity: 1;
    }
}

@keyframes ballRingAnimation
{
    0%
    {
        width: 350px;
        height: 350px;
        top: 225;
        left: calc(50% - 175px);
    }

    25%
    {
        width: 900px;
        height: 900px;
        top: -50;
        left: calc(50% - 450px);
        opacity: 0;
    }

    50%
    {
        width: 600px;
        height: 600px;
        top: 100;
        left: calc(50% - 300px);
        opacity: .3;
    }

    75%
    {
        width: 1000px;
        height: 1000px;
        top: -100;
        left: calc(50% - 500px);
        opacity: 0;
    }

    100%
    {
        width: 350px;
        height: 350px;
        top: 225;
        left: calc(50% - 175px);
    }
}

@keyframes dropDown
{
    0%
    {
        transform: translateY(-50px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes popUp
{
    0%
    {
        transform: translateY(50px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeIn
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut
{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes defaultAnimation
{
    0%
    {

    }

    100%
    {

    }
}
/*#endregion Animations */

/*#region Media 1300-1000 */
@media screen and (max-width: 1300px)
{

}

@media screen and (max-width: 1250px)
{
    .Card .cardTitle
    {
        width: calc(100% - 120px);
    }

    .Card .cardText
    {
        width: calc(100% - 120px);
    }

    .Card.Left .cardTitle, .Card.Left .cardText
    {
        left: 60;
    }

    .Card.Right .cardTitle, .Card.Right .cardText
    {
        right: 60;
    }

    .Card .cardImage
    {
        max-width: 500px;
        max-height: 300px;
    }

    .Card.Left a.cardButton
    {
        right: 330;
    }

    .Card.Right a.cardButton
    {
        left: 330;
    }
}

@media screen and (max-width: 1200px)
{
    .boxHolderX3 .boxeBG:nth-child(1)
    {
        width: calc(33% - 30px - 15px);
        left: 30;
    }
    
    .boxHolderX3 .boxeBG:nth-child(2)
    {
        width: calc(33% - 15px - 15px);
        left: calc(50% - (33% - 15px - 15px) / 2);
    }
    
    .boxHolderX3 .boxeBG:nth-child(3)
    {
        float: right;
        width: calc(33% - 15px - 30px);
        right: 30;
    }

    .boxHolderX3 .boxeBG .boxTitle
    {
        width: calc(100% - 30px);
        left: 15;
    }

    .boxHolderX3 .boxeBG .boxText
    {
        width: calc(100% - 30px);
        left: 15;
    }
}

@media screen and (max-width: 1100px)
{
    .sectionHolder
    {
        width: calc(50% + 120px);
    }

    .sectionImage
    {
        top: 210;
    }

    .sectionHolderBG
    {
        margin-bottom: 350px;
    }

    .bottomBar
    {
        top: 4350;
    }

    .bottomBar.aboutPage
    {
        top: 5200;
    }

    .bottomBar.LearnPage
    {
        top: 2600;
    }
}

@media screen and (max-width: 1000px)
{

}
/*#endregion Media 1300-1000 */

/*#region Media 900-800 */
@media screen and (max-width: 900px)
{
    .topBar a
    {
        display: none;
    }

    .topBar a.Logo, .topBar a.threeLineButton
    {
        display: unset;
    }

    .bottomBar a
    {
        font-size: 22px;
    }

    .pageNumber
    {
        right: 30;
    }

    .Card
    {
        width: calc(100% - 130px);
    }

    .Card .cardTitle
    {
        top: 60;
        font-size: 30px;
        line-height: 30px;
    }

    .Card .cardText
    {
        font-size: 16px;
        line-height: 20px;
    }

    .Card .cardTitle
    {
        width: calc(100% - 60px);
    }

    .Card .cardText
    {
        width: calc(100% - 60px);
    }

    .Card.Left .cardTitle, .Card.Left .cardText
    {
        left: 30;
    }

    .Card.Right .cardTitle, .Card.Right .cardText
    {
        right: 30;
    }

    .Card .cardImage
    {
        max-width: 350px;
        max-height: 200px;
    }

    .Card.Left .cardImage
    {
        right: -100;
    }

    .Card.Right .cardImage
    {
        left: -100;
    }

    .Card.Left a.cardButton
    {
        float: left;
        left: 30;
        right: auto;
    }

    .Card.Right a.cardButton
    {
        float: right;
        left: auto;
        right: 30;
    }

    .boxHolderX3
    {
        height: 1700px;
    }

    .boxHolderX3 .boxeBG:nth-child(1), .boxHolderX3 .boxeBG:nth-child(2), .boxHolderX3 .boxeBG:nth-child(3)
    {
        float: left;
        width: calc(100% - 120px);
        height: 500px;
        top: 0;
        left: 60;
    }

    .boxHolderX3 .boxeBG:nth-child(2)
    {
        top: 600;
    }

    .boxHolderX3 .boxeBG:nth-child(3)
    {
        top: 1200;
    }

    .bottomBar.LearnPage
    {
        top: 3800;
    }
}

@media screen and (max-width: 800px)
{
    .bottomBar .Credits
    {
        width: calc(100% - 30px);
        bottom: 10;
        left: 15;
        font-size: 12px;
    }

    .sectionHolder
    {
        height: 370px;
    }

    .sectionHolder .sectionTitle
    {
        width: calc(100% - 120px);
        top: 60;
        left: 60;
        font-size: 30px;
        line-height: 30px;
    }

    .sectionHolder .sectionText
    {
        width: calc(100% - 120px);
        top: 120;
        left: 60;
        font-size: 16px;
        line-height: 20px;
    }

    .sectionImage
    {
        width: calc(500px);
        top: 200;
    }
}
/*#endregion Media 900-800 */

/*#region Media 700-600 */
@media screen and (max-width: 700px)
{
    .topBar a.Logo
    {
        left: 30;
    }

    .backGround.Home
    {
        background-image: radial-gradient(circle at 50% 0%,#4b5063 100px, transparent 60%);
    }

    .backGround.About
    {
        background-image: radial-gradient(circle at 50% 0%, #4b5063 0px, transparent 60%),
                        radial-gradient(circle at 100% 20%, #ADFF67b0 0px, transparent 40%),
                        radial-gradient(circle at 0% 35%, #D273FFa0 0px, transparent 40%);
    }

    .backGround.Learn
    {
        background-image: radial-gradient(circle at 50% 0%, #FBFFA8 0px, transparent 30%),
                        radial-gradient(circle at 100% 15%, #FF0100 0px, transparent 30%),
                        radial-gradient(circle at 0% 20%, #37FFFE 0px, transparent 30%);
    }

    .backGround.hiddenPage
    {
        background-image: radial-gradient(circle at 50% 0%, #FF0000 0px, transparent 60%);
    }

    .ballImage
    {
        width: 300px;
        height: 300px;
        left: calc(50% - 150px);
    }

    .ballRing
    {
        width: 400px;
        height: 400px;
        top: 150;
        left: calc(50% - 200px);

        width: 250px;
        height: 250px;
        top: 225;
        left: calc(50% - 125px);
    }

    @keyframes ballRingAnimation
    {
        0%
        {
            width: 250px;
            height: 250px;
            top: 225;
            left: calc(50% - 125px);
        }

        25%
        {
            width: 900px;
            height: 900px;
            top: -50;
            left: calc(50% - 450px);
            opacity: 0;
        }

        50%
        {
            width: 600px;
            height: 600px;
            top: 75;
            left: calc(50% - 300px);
            opacity: .3;
        }

        75%
        {
            width: 1000px;
            height: 1000px;
            top: -100;
            left: calc(50% - 500px);
            opacity: 0;
        }

        100%
        {
            width: 250px;
            height: 250px;
            top: 225;
            left: calc(50% - 125px);
        }
    }

    .Title
    {
        top: 400;
        font-size: 90px;
        line-height: 90px;
    }

    .subTitle
    {
        top: 500;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: unset;
    }

    .Title:hover
    {
        letter-spacing: 2px;
    }

    .Title:hover + .subTitle, .subTitle:hover
    {
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 600px)
{
    @keyframes move
    {
        0%
        {
            left: 0;
            opacity: 0;
        }

        35%
        {
            left: 35%; 
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            opacity:1;
        }

        65%
        {
            left: 65%; 
            -moz-transform: rotate(0deg); 
            -webkit-transform: rotate(0deg); 
            -o-transform: rotate(0deg);
            transform: rotate(0deg); 
            opacity: 1;
        }

        100%
        {
            left: 100%; 
            -moz-transform: rotate(-180deg); 
            -webkit-transform: rotate(-180deg); 
            -o-transform: rotate(-180deg); 
            transform: rotate(-180deg);
            opacity: 0;
        }
    }

    .hider
    {
        background-image: linear-gradient(to bottom, transparent 90%, #090d19); /* 090d19 070a14 */
    }

    .siteMenu a.closeButton
    {
        width: 50px;
        height: 50px;
    }

    .siteMenu a.closeButton:hover
    {
        width: 55px;
        height: 55px;
    }

    .ballRingHolder
    {
        display: none;
    }

    .sectionHolder
    {
        height: 370px;
    }

    .sectionHolder .sectionTitle
    {
        width: calc(100% - 60px);
        top: 60;
        left: 30;
        font-size: 26px;
        line-height: 26px;
    }

    .sectionHolder .sectionText
    {
        width: calc(100% - 60px);
        top: 120;
        left: 30;
    }

    .sectionImage
    {
        width: 400px;
        top: 250;
    }

    .hiddenPageBanner h1
    {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .hiddenPageBanner a
    {
        font-size: 20px;
    }

    .scrollSectionHolder
    {
        height: 60px;
        margin-bottom: 50px;
    }

    .scrollSectionHolder .scrollSectionBox
    {
        height: 40px;
        border-radius: 999px;
        margin-right: 10px;
    }

    .scrollSectionHolder .scrollSectionBox .scrollSectionBoxTitle
    {
        top: calc(50% - 12px);
        font-size: 22px;
        line-height: 24px;
    }

    .learnBoxHolder .learnBoxHolderTitle
    {
        font-size: 26px;
        line-height: 26px;
    }

    .learnBoxHolder .learnBoxHolderText
    {
        font-size: 16px;
        line-height: 26px;
    }

    .learnBoxHolder .learnBoxHolderDownloadButton
    {
        font-size: 18px;
        line-height: 18px;
    }

    .learnBoxHolder .learnBoxHolderListLine
    {
        font-size: 22px;
        line-height: 22px;
    }

    .learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineText
    {
        font-size: 16px;
        line-height: 26px;
    }

    .learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample
    {
        padding-bottom: 47px;
    }

    .learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample .learnBoxHolderListLineExampleTitle
    {
        font-size: 22px;
        line-height: 22px;
    }

    .learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample .learnBoxHolderListLineExampleText
    {
        font-size: 16px;
        line-height: 26px;
    }

    .learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample .learnBoxHolderListLineButton
    {
        right: 10;
        font-size: 18px;
        line-height: 18px;
        border-radius: 999px;
        padding: 10px 20px;
    }
}
/*#endregion Media 700-600 */

/*#region Media 500-400 */
@media screen and (max-width: 530px)
{
    .cardHolder
    {
        margin-bottom: 300px;
    }

    .Card
    {
        width: calc(100% - 60px);
    }

    .Card .cardImage
    {
        max-width: 300px;
        max-height: 200px;
        top: 390;
        bottom: auto;
    }

    .Card.Left .cardImage
    {
        float: left;
        left: 30;
        right: auto;
    }

    .Card.Right .cardImage
    {
        float: right;
        left: auto;
        right: 30;
    }

    .Card a.cardButton
    {
        bottom: 60;
        background-color: #e5e5e5;
        color: #090d19;
    }

    .Card.Left a.cardButton
    {
        float: left;
        left: 30;
        right: auto;
    }

    .Card.Right a.cardButton
    {
        float: right;
        left: auto;
        right: 30;
    }

    .hiddenPageBanner h1
    {
        margin-bottom: 40px;
    }

    .bottomBar.aboutPage
    {
        top: 5400;
    }

    .bottomBar.hiddenDownload
    {
        top: 2500;
    }
}

@media screen and (max-width: 500px)
{    
    .backGround
    {
        background-image: radial-gradient(circle at 50% 30px,#4b5063 100px, #090d19 50%);
    }

    .Title
    {
        font-size: 70px;
        line-height: 70px;
    }

    .subTitle
    {
        top: 480;
        font-size: 26px;
        line-height: 26px;
    }

    .Title:hover, .Title:hover + .subTitle, .subTitle:hover
    {
        letter-spacing: 2px;
    }

    .sectionHolderBG
    {
        height: 400px;
    }

    .sectionImage
    {
        width: 300px;
        top: 250;
    }

    .Card .cardText.Longer
    {
        top: 150;
    }

    .boxHolderX3 .boxeBG:nth-child(1), .boxHolderX3 .boxeBG:nth-child(2), .boxHolderX3 .boxeBG:nth-child(3)
    {
        width: calc(100% - 60px);
        left: 30;
    }

    .boxHolderX3 .boxeBG .boxTitle
    {
        font-size: 28px;
        line-height: 28px;
    }

    .boxHolderX3 .boxeBG .boxText
    {
        top: 210;
        font-size: 16px;
        list-style: 20px;
    }

    .boxHolderX3 .boxeBG .boxButton
    {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }

    .hoddenPageNotification
    {
        width: calc(60% - 15px);
        left: 15;
    }

    /*#region Bottom bar */
    .bottomBar
    {
        height: 320px;
        top: 4050;
    }

    .bottomBar.LearnPage
    {
        top: 3700;
    }

    .bottomBar .directionButton
    {
        top: 30;
        width: 100%;
        height: 35px;
    }

    .bottomBar .directionButton.H, .bottomBar .directionButton.A, .bottomBar .directionButton.L, .bottomBar .directionButton.P
    {
        left: 0;
    }

    .bottomBar .directionButton.A
    {
        top: 70;
    }

    .bottomBar .directionButton.L
    {
        top: 110;
    }

    .bottomBar .directionButton.P
    {
        top: 150;
    }

    .bottomLinksHolder
    {
        top: 210;
    }
    /*#endregion Bottom bar */
}

@media screen and (max-width: 400px)
{
    .backGround.About
    {
        background-image: radial-gradient(circle at 50% 0%, #4b5063 0px, transparent 60%),
                        radial-gradient(circle at 100% 20%, #ADFF67 0px, transparent 20%),
                        radial-gradient(circle at 0% 35%, #D273FFa0 0px, transparent 40%);
    }

    .siteMenu a
    {
        font-size: 20px;
        line-height: 20px;
    }

    .siteMenu a.Active div:nth-child(1)
    {
        left: calc(50% - 120px);
    }

    .siteMenu a.Active div:nth-child(2)
    {
        left: calc(50% + 80px);
    }

    .siteMenu a.Active:hover div:nth-child(1)
    {
        left: calc(50% - 130px);
    }

    .siteMenu a.Active:hover div:nth-child(2)
    {
        left: calc(50% + 90px);
    }

    .sectionHolderBG
    {
        margin-bottom: 250px;
    }

    .sectionHolder
    {
        width: calc(100% - 30px - 30px);
    }

    .sectionHolderBG.Left .sectionHolder
    {
        left: 15;
    }
    
    .sectionHolderBG.Right .sectionHolder
    {
        right: 15;
    }

    .sectionImage
    {
        width: calc(100% - 30px - 30px);
        top: 250;
    }

    .sectionHolderBG.Left .sectionImage
    {
        right: 15;
    }

    .sectionHolderBG.Right .sectionImage
    {
        left: 15;
    }

    .Card .cardTitle
    {
        font-size: 22px;
        line-height: 22px;
    }

    .Card .cardImage
    {
        max-width: 260px;
    }

    .Card .cardText
    {
        top: 110;
    }

    .Card .cardText.Longer
    {
        top: 130;
    }

    .scrollSectionHolder .scrollSectionBox
    {
        left: 15;
    }

    .scrollSectionHolder .scrollSectionBox.Last
    {
        margin-right: 30px;
    }

    .learnBoxHolder
    {
        width: calc(100% - 30px);
        left: 15;
    }

    .learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineText
    {
        width: calc(100% + 45px);
    }

    .learnBoxHolder .learnBoxHolderListLine .learnBoxHolderListLineExample
    {
        width: calc(100% + 45px);
    }

    .bottomBar
    {
        top: 3800;
    }

    .bottomBar.aboutPage
    {
        top: 5300;
    }

    .bottomBar.LearnPage
    {
        top: 3600;
    }
}
/*#endregion Media 500-400 */

/*#region Media 350 */
@media screen and (max-width: 350px)
{
    .ballImage
    {
        width: 250px;
        height: 250px;
        left: calc(50% - 125px);
    }

    .ballRing
    {
        width: 350px;
        height: 350px;
        top: 150;
        left: calc(50% - 175px);

        width: 200px;
        height: 200px;
        top: 225;
        left: calc(50% - 100px);
    }

    @keyframes ballRingAnimation
    {
        0%
        {
            width: 200px;
            height: 200px;
            top: 225;
            left: calc(50% - 100px);
        }

        25%
        {
            width: 600px;
            height: 600px;
            top: 50;
            left: calc(50% - 300px);
            opacity: 0;
        }

        50%
        {
            width: 400px;
            height: 400px;
            top: 125;
            left: calc(50% - 200px);
            opacity: .3;
        }

        75%
        {
            width: 700px;
            height: 700px;
            top: 0;
            left: calc(50% - 350px);
            opacity: 0;
        }

        100%
        {
            width: 200px;
            height: 200px;
            top: 225;
            left: calc(50% - 100px);
        }
    }

    .pageNumber
    {
        top: 600;
        bottom: auto;
    }

    .hoddenPageNotification
    {
        top: 608;
        bottom: auto;
        position: absolute;
    }
}
/*#endregion Media 350 */
