/*The CSS code is property to Mr. You (Kristiyan Valchev) and can only be viewed*/
/*If you want to use part of the code, please first contact me: krisvalchev@gmail.com*/

html
{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    background-color: #fafafa;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*#region Scrow bar */
::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: #fafafa;
    border-radius: 70px;
}

::-webkit-scrollbar-thumb
{
	background: #3E3E3E; 
	border-radius: 70px;
}

::-webkit-scrollbar-thumb:hover
{
	background: #2d2d2d; 
}
/*#endregion Scrow bar */

/*#region Top bar */
.topBar
{
    position: absolute;
    width: calc(100% - 80px);
    height: 70px;
    top: 0;
    left: 80;
    background-color: transparent;
    
    z-index: 20;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .4s;
    transform: translateY(-50px);
    opacity: 0;
}

.topBar a
{
    float: right;
    position: relative;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: bolder;
    color: #3E3E3E;
    margin-top: 30px;
    margin-right: 50px;
}

.topBar a::before
{
    content: "";
    position: absolute;
    width: 150%;
    height: 2px;
    bottom: -5px;
    left: -25%;
    background-color: #3E3E3E;
    visibility: hidden;
    transform: scaleX(0);
    
    transition: ease .3s;
}

.topBar .Title
{
    float: left;
    position: absolute;
    width: 180px;
    left: 10;
    font-size: 30px;
    font-weight: bold;
    color: #3eaa20;
    margin-right: 0px;
}

.topBar a:hover::before
{
    visibility: visible;
    transform: scaleX(1);
}

.topBar a.Title:hover::before, .topBar a.threeLineButton:hover::before
{
    visibility: hidden;
}

.topBar a.Title:hover
{
    left: 30;
}

.topBar a.Active::before
{
    visibility: visible;
    transform: scaleX(1);
}

.topBar a.Active:hover::before
{
    transform: scaleX(1.3);
}

.topBar a.threeLineButton
{
    display: none;
    width: 40px;
    height: 30px;
    background-color: transparent;
    margin-top: 35px;
    margin-right: 20px;
}

.topBar a.threeLineButton div
{
    float: right;
    position: absolute;
    height: 2px;
    right: 0;
    background-color: #3E3E3E;
}

.topBar a.threeLineButton div:nth-child(1)
{
    width: 75%;
    top: 1;
}

.topBar a.threeLineButton div:nth-child(2)
{
    width: 100%;
    top: calc(50% - 1px);
}

.topBar a.threeLineButton div:nth-child(3)
{
    width: 50%;
    bottom: 2;
}

.topBar a.threeLineButton:hover
{
    width: 50px;
}

.topBar a.threeLineButton:hover div
{
    width: 100%;
}
/*#endregion Top bar */

/*#region Side bar */
.sideBar
{
    position: fixed;
    width: 80px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3E3E3E;

    z-index: 10;

    transition: ease .3s;
    animation: unfoldDownAnimation .5s ease-out forwards .1s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
}

.sideBar img.Logo
{
    position: absolute;
    width: 60px;
    top: 27.5;
    left: 10;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .4s;
    transform: translateY(-50px);
    opacity: 0;
}

.sideBar .linkHolder
{
    position: absolute;
    width: 50px;
    height: 250px;
    top: calc(50% - 125px);
    left: 15;
    background-color: transparent;
}

.sideBar .linkHolder a
{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
    color: #fafafa;
    margin-top: 40px;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards;
    transform: translateY(-50px);
    opacity: 0;
}

.sideBar .linkHolder a.fa-facebook-f
{
    animation-delay: .6s;
}

.sideBar .linkHolder a.fa-instagram
{
    animation-delay: .7s;
}
.sideBar .linkHolder a.fa-google-play
{
    animation-delay: .8s;
}

.sideBar .linkHolder a.fa-facebook-f:hover
{
    color: #3b5998;
}

.sideBar .linkHolder a.fa-instagram:hover
{
    color: #F56040;
}

.sideBar .linkHolder a.fa-google-play:hover
{
    color: #FFD400;
}

.sideBar div.Line
{
    position: absolute;
    width: 1px;
    height: calc(50% - 125px - 42.5px);
    top: calc(50% + 125px + 15px);
    left: calc(50% - 1px);
    background-color: #fafafa;

    transition: ease .3s;
    animation: sideBarLine .3s ease-out forwards .9s;
    height: 0;
    opacity: 0;
}

.sideBar .mobileBottomBar
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.sideBar .mobileBottomBar .buttonsHolder
{
    position: absolute;
    height: 40px;
    top: 10;
    left: 10;
    color: #fafafa;
    font-size: 26px;
    text-align: center;
    border-radius: 30px;
    margin: 0;
}

.sideBar .mobileBottomBar .buttonsHolder.Projects
{
    width: calc(50% - 15px);
}

.sideBar .mobileBottomBar .buttonsHolder.Projects.Active
{
    color: #3E3E3E;
    background-color: #75FF96;
}

.sideBar .mobileBottomBar .buttonsHolder.Projects.Active:hover
{
    background-color: #64ee85;
}

.sideBar .mobileBottomBar .buttonsHolder.Projects.theOtherOne
{
    float: right;
    left: auto;
    right: 10;
}

.sideBar .mobileBottomBar .buttonsHolder.Projects.theOtherOne:hover
{
    background-color: #4f4f4f;
}
/*#endregion Side bar */

/*#region Right Box */
.rightBox
{
    float: right;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #F2CB05;

    z-index: 0;

    transition: ease .3s;
    animation: unfoldDownAnimation .5s ease-out forwards .6s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
}

.rightBox.Projects
{
    background-color: #75FF96;
    height: 2400px;
}

.mainPageImage
{
    position: absolute;
    width: 800px;
    top: calc(50% - 120px);
    right: -200;

    filter: drop-shadow(-10px 20px 15px #33333377);
    -webkit-filter: drop-shadow(-10px 20px 15px #33333377);

    z-index: 1;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .9s;
    transform: translateY(-50px);
    opacity: 0;
}

.mainPageImage:hover
{
    right: -150;
}
/*#endregion Right Box */

/*#region Main things */
h1.mainTitle
{
    position: absolute;
    top: 217;
    left: 150;
    font-size: 100px;
    font-weight: bolder;
    color: #3E3E3E;

    z-index: 1;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .6s;
    transform: translateY(-50px);
    opacity: 0;
}

h1.mainTitle.Right
{
    left: auto;
    right: 70;
    text-align: right;
}

p.textUnderTitle
{
    position: absolute;
    width: calc(50% - 155px - 15px);
    top: 360;
    left: 155;
    font-size: 18px;
    font-weight: normal;
    color: #3E3E3Eaa;
    
    z-index: 1;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .7s;
    transform: translateY(-50px);
    opacity: 0;
}

p.textUnderTitle.Right
{
    width: calc(50% - 75px - 15px);
    left: auto;
    right: 75;
    text-align: right;
}

.buttonOne
{
    position: absolute;
    top: 520;
    left: 155;
    font-size: 30px;
    font-weight: bolder;
    color: #3E3E3E;
    background-color: #F2CB05;
    padding: 8px 35px;

    z-index: 1;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .8s;
    transform: translateY(-50px);
    opacity: 0;
}

.buttonOne.Right
{
    left: auto;
    right: 75;
}

.buttonOne.Right.Projects
{
    background-color: #fafafa;
}

.buttonOne.Right.Projects:hover
{
    background-color: #e9e9e9;
}

.buttonOne.Left.Projects
{
    background-color: #75FF96;
}

.buttonOne.Left.Projects:hover
{
    background-color: #64ee85;
}

.buttonTwo
{
    position: absolute;
    top: 520;
    left: 400;
    font-size: 30px;
    font-weight: bolder;
    color: #3E3E3E;
    background-color: transparent;
    padding: 8px 35px;

    z-index: 1;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .85s;
    transform: translateY(-50px);
    opacity: 0;
}

.buttonOne:hover
{
    background-color: #e1ba04;
}

.buttonTwo:hover div
{
    width: 400px;
}

.mainPageLine
{
    position: absolute;
    width: 0px;
    height: 2px;
    top: calc(50% - 1px);
    left: 250;
    background-color: #3E3E3E;

    transition: ease .3s;
}
/*#endregion Main things */

/*#region Other sections */
.sectionBG
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    clip-path: circle(0.5% at 0 0);
    -webkit-clip-path: circle(0.5% at 0 0);

    transition: ease .5s;
}

.second, #aboutButtonOne, .About .seeMoreButton
{
    background-color: #F56040;
}

.third, #learnButtonOne, .Learn .seeMoreButton
{
    background-color: #049DD9;
}

.fourth, #projectsButtonOne, .Projects .seeMoreButton
{
    background-color: #75FF96;
}

#aboutButtonOne:hover
{
    background-color: #e55030;
}

#learnButtonOne:hover
{
    background-color: #038cc8;
}

#projectsButtonOne:hover
{
    background-color: #64ee85;
}

h1.otherSectionText, p.otherSectionText, a.otherSectionText
{
    animation: none;
    transform: translateY(200%) translateX(-550px) rotate(-90deg);
    opacity: 1;
}

img.otherSectionImage
{
    animation: none;
    transform: translateY(200%) translateX(450px) rotate(90deg);
    opacity: 1;
}
/*#endregion Other sections */

/*#region Arrow buttons */
.arrowButton
{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 27.5px;
    font-size: 26px;
    font-weight: normal;

    z-index: 5;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .9s;
    transform: translateY(-50px);
    opacity: 0;
}

.rightBox a.arrowButton.Right
{
    float: left;
    left: 0;
    background-color: #fafafa;
}

a.arrowButton.Left
{
    float: right;
    right: calc(50%);
    background-color: #F2CB05;
}
.arrowButton i
{
    position: absolute;
    width: 100%;
    top: calc(50% - 12px);
    left: 0;
    text-align: center;
}

.arrowButton:hover
{
    width: 55px;
}
/*#endregion Arrow buttons */

/*#region Projects */
.gameHolder
{
    position: absolute;
    width: calc(50% - 155px - 20px);
    height: 320px;
    top: 800;
    left: 155;
    background-color: transparent;
}

.gameHolder img.Logo
{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 15;
    left: 0;
}

.gameHolder .gameTitle
{
    position: absolute;
    top: 0;
    left: 140;
    font-size: 50px;
    font-weight: bold;
    color: #3E3E3E;
}

.gameHolder .gameCompatibleText
{
    position: absolute;
    top: 80;
    left: 140;
    font-size: 18px;
    font-weight: normal;
    color: #3E3E3Eaa;
}

.gameHolder .gameCompatibleText i
{
    color: #64ee85;
    margin-left: 10px;
}

.gameHolder .gameVersion
{
    position: absolute;
    top: 110;
    left: 140;
    font-size: 18px;
    font-weight: normal;
    color: #3E3E3Eaa;
}

.gameHolder .gameVersion colorful
{
    color: #64ee85;
    font-weight: bold;
}

.gameHolder .gameDescroption
{
    position: relative;
    width: calc(100% - 140px - 20px);
    top: 140;
    left: 140;
    font-size: 18px;
    font-weight: normal;
    color: #3E3E3Eaa;
}

.gameHolder .gameDownloadButton
{
    float: right;
    position: absolute;
    bottom: 10;
    right: 20;
    font-size: 22px;
    font-weight: normal;
    color: #3E3E3E;
    background-color: #75FF96;
    padding: 4px 18px;
}

.gameHolder .gameDownloadButton:hover
{
    background-color: #64ee85;
}

.gameHolder .gameSeeMoreButton
{
    float: right;
    position: absolute;
    bottom: 10;
    right: 187;
    font-size: 22px;
    font-weight: normal;
    color: #3E3E3Eaa;
    background-color: transparent;
    padding: 4px 18px;
}

.appHolder
{
    float: right;
    position: absolute;
    width: calc(100% - 70px - 20px);
    height: 320px;
    top: 800;
    right: 70;
    background-color: transparent;
}

.appHolder img.Logo
{
    float: right;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 15;
    right: 0;
}

.appHolder .appTitle
{
    float: right;
    position: absolute;
    top: 0;
    right: 140;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    color: #3E3E3E;
}

.appHolder .appCompatibleText
{
    float: right;
    position: absolute;
    top: 80;
    right: 140;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    color: #3E3E3Eaa;
}

.appHolder .appCompatibleText i
{
    color: #fafafa;
    margin-left: 10px;
}

.appHolder .appVersion
{
    float: right;
    position: absolute;
    top: 110;
    right: 140;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    color: #3E3E3Eaa;
}

.appHolder .appVersion colorful
{
    color: #fafafa;
    font-weight: bold;
}

.appHolder .appDescroption
{
    float: right;
    position: relative;
    width: calc(100% - 140px - 20px);
    top: 140;
    right: 140;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    color: #3E3E3Eaa;
}

.appHolder .appDownloadButton
{
    float: left;
    position: absolute;
    bottom: 10;
    left: 20;
    font-size: 22px;
    font-weight: normal;
    color: #3E3E3E;
    background-color: #fafafa;
    padding: 4px 18px;
}

.appHolder .appDownloadButton:hover
{
    background-color: #e9e9e9;
}

.appHolder .appSeeMoreButton
{
    float: left;
    position: absolute;
    bottom: 10;
    left: 187;
    font-size: 22px;
    font-weight: normal;
    color: #3E3E3Eaa;
    background-color: transparent;
    padding: 4px 18px;
}

.gameHolder.MD
{
    margin-top: 0px;
}

.gameHolder.CW
{
    margin-top: 400px;
}

.gameHolder.EF
{
    margin-top: 800px;
}

.gameHolder.JI
{
    margin-top: 1200px;
}

.appHolder.BR
{
    margin-top: 0px;
}

.appHolder.FW
{
    margin-top: 400px;
}
/*#endregion Projects */

/*#region Cards */
.Card
{
    display: none;
    position: relative;
    width: calc(100% - 40px);
    height: auto;
    top: 130;
    left: 20;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 10px;
    overflow: hidden;

    filter: drop-shadow(0px 10px 8px #33333377);
    -webkit-filter: drop-shadow(0px 10px 8px #33333377);

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .7s;
    transform: translateY(-50px);
    opacity: 0;
}

.Card.myIntro, .Card.About, .Card.Learn, .Card.Projects
{
    padding-bottom: 90px;
}

.myIntro .seeMoreButton
{
    background-color: #FFD400;
}

.Card img.Icon
{
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: 20;
    border-radius: 999px;
}

.Card img.cardImage
{
    position: absolute;
    height: 60px;
    top: auto;
    bottom: 30;
    left: -40;
    transform: rotate(90deg);
}

.Card .cardTitle
{
    position: relative;
    width: 200px;
    top: 15;
    left: 100;
    font-size: 40px;
    font-weight: bolder;
    color: #3E3E3E;
}

.Card .cardText
{
    position: relative;
    width: calc(100% - 30px - 100px);
    top: 15;
    left: 100;
    font-size: 18px;
    font-weight: normal;
    color: #3E3E3Eaa;
}

.Card div.seeMoreButton
{
    float: right;
    position: absolute;
    bottom: 20;
    right: 20;
    font-size: 18px;
    font-weight: bolder;
    color: #3E3E3E;
    padding: 6px 16px;
    border-radius: 999px;
}

.Card div.seeMoreButton i
{
    padding: 0;
    margin: 0;
    margin-left: 7px;
}

.Card div.seeMoreButton:hover
{
    padding: 6px 22px;
}
/*#endregion Cards */

img
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;

    transition: ease .3s;
}

a
{
    text-decoration: none;
    padding: 0;
    margin: 0;

    transition: ease .3s;
}

div, p, i, h1, h1, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;

    transition: ease .3s;
}

.Spacer
{
    display: none;
    width: 100%;
    height: 50px;
    background-color: transparent;

    z-index: -10;
}

.afterCards
{
    height: 230px;
}

.afterProjects
{
    height: 225px;
}

.tooltipText
{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: -3;
    left: calc(100% + 20px);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 6px;
    background-color: #3E3E3E;
    padding: 5px 0;
    
    z-index: 10;
}

.appHolder .tooltipText
{
    left: -100%;
}

i:hover .tooltipText
{
    visibility: visible;
}

smallerText
{
    display: inline;
}

smallerTextEnding
{
    display: none;
}

/*#region Animations */
@keyframes unfoldDownAnimation
{
    0%
    {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        opacity: 0;
    }

    100%
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
    }
}

@keyframes dropDown
{
    0%
    {
        transform: translateY(-50px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes popUp
{
    0%
    {
        transform: translateY(100px);
    }

    100%
    {
        transform: translateY(0px);
    }
}

@keyframes popDown
{
    0%
    {
        transform: translateY(-300px);
    }

    100%
    {
        transform: translateY(0px);
    }
}

@keyframes mainPageLineAnimation
{
    0%
    {
        width: 0px;
    }

    100%
    {
        width: 300px;
    }
}

@keyframes sideBarLine
{
    0%
    {
        height: 0;
        opacity: 0;
    }

    100%
    {
        height: calc(50% - 125px - 42.5px);
        opacity: 1;
    }
}

@keyframes mainPageImageAnimationOut
{
    0%
    {
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }

    100%
    {
        transform: translateY(200%) translateX(450px) rotate(90deg);
    }
}

@keyframes mainPageImageAnimationIn
{
    0%
    {
        transform: translateY(200%) translateX(450px) rotate(90deg);
    }

    100%
    {
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
}

@keyframes mainPageTextAnimationOut
{
    0%
    {
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }

    100%
    {
        transform: translateY(200%) translateX(-550px) rotate(-90deg);
    }
}

@keyframes mainPageTextAnimationIn
{
    0%
    {
        transform: translateY(200%) translateX(-550px) rotate(-90deg);
    }

    100%
    {
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
}

@keyframes defaultAnimation
{
    0%
    {

    }

    100%
    {

    }
}
/*#endregion Animations */

/*#region Media 1300-1000 */
@media screen and (max-width: 1300px)
{
    .mainPageImage
    {
        right: -350;
    }
    
    .mainPageImage:hover
    {
        right: -300;
    }
}

@media screen and (max-width: 1200px)
{
    .buttonTwo
    {
        display: none;
    }

    .gameHolder .gameDescroption smallerText, .appHolder .appDescroption smallerText
    {
        display: none;
    }

    .gameHolder .gameDescroption smallerTextEnding, .appHolder .appDescroption smallerTextEnding
    {
        display: inline;
    }

    .gameHolder .gameTitle, .appHolder .appTitle
    {
        top: 10;
        font-size: 30px;
    }
}

@media screen and (max-width: 1100px)
{
    h1.mainTitle
    {
        left: 110px;
    }

    p.textUnderTitle
    {
        left: 115px;
    }

    .buttonOne
    {
        left: 115;
    }

    .mainPageImage
    {
        right: -420;
    }
    
    .mainPageImage:hover
    {
        right: -370;
    }

    .gameHolder
    {
        width: calc(50% - 115px - 20px);
        left: 115;
    }
}

@media screen and (max-width: 1000px)
{
    html
    {
        overflow-y: auto;
    }

    .Spacer
    {
        display: block;
    }

    i:hover .tooltipText
    {
        visibility: hidden;
    }

    .topBar
    {
        width: 100%;
        left: 0;

        animation-delay: .6s;
    }

    .topBar .Title
    {
        left: 20;
        color: #3E3E3E;
    }

    .topBar a.Title:hover
    {
        left: 40;
    }

    .topBar a, .arrowButton, h1.mainTitle, p.textUnderTitle, .buttonOne, .mainPageImage, .sideBar img.Logo, .sideBar .linkHolder, .rightBox .appHolder
    {
        display: none;
    }

    .sideBar.Home .linkHolder
    {
        display: unset;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .sideBar.Home .linkHolder a
    {
        position: relative;
        width: calc(33% - 20px);
        top: 15;
        left: 10;
        font-size: 30px;
        text-align: center;
        color: #fafafa;
        margin-top: 0px;
        margin-right: 10px;
    }

    .topBar a.threeLineButton, .topBar .Title
    {
        display: unset;
    }

    .sideBar
    {
        width: calc(100% - 40px);
        height: 60px;
        top: auto;
        bottom: 20;
        left: 20;
        border-radius: 999px;

        z-index: 20;

        animation: popUp .5s ease-out forwards .7s;
        transform: translateY(100px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
    }

    .sideBar .mobileBottomBar
    {
        display: unset;
    }

    .rightBox, .rightBox.Projects
    {
        float: left;
        position: fixed;
        width: 100%;
        height: 200px;
        left: 0;
        right: auto;
        border-bottom-left-radius: 90px;

        animation: popDown .5s ease-out forwards .1s;
        transform: translateY(-300px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
    }

    .sectionBG
    {
        border-bottom-left-radius: 90px;
    }

    .Card
    {
        display: block;
    }

    .gameHolder.MD, .gameHolder.CW, .gameHolder.EF, .gameHolder.JI, .appHolder.BR, .appHolder.FW
    {
        margin-top: 0;
    }

    .gameHolder, .appHolder
    {
        position: relative;
        width: calc(100% - 40px);
        top: 130;
        left: 20;
        background-color: #fff;
        border-radius: 30px;
        margin-bottom: 10px;
        overflow: hidden;

        z-index: 2;
    
        filter: drop-shadow(0px 10px 8px #33333377);
        -webkit-filter: drop-shadow(0px 10px 8px #33333377);
    }

    .gameHolder img.Logo
    {
        width: 90px;
        height: 90px;
        top: 20;
        left: 20;
        border-radius: 8px;
    }

    .gameHolder .gameTitle
    {
        top: 20;
        left: 130;
        font-size: 28px;
    }

    .gameHolder .gameCompatibleText, .gameHolder .gameVersion, .gameHolder .gameDescroption
    {
        left: 130;
    }

    .gameHolder .gameDownloadButton
    {
        bottom: 15;
        right: 15;
        font-size: 20px;
        border-radius: 30px;
    }

    .gameHolder .gameSeeMoreButton
    {
        bottom: 15;
        right: 165;
        font-size: 20px;
    }
}
/*#endregion Media 1300-1000 */

/*#region Media 900-800 */
@media screen and (max-width: 900px)
{

}

@media screen and (max-width: 800px)
{

}
/*#endregion Media 900-800 */

/*#region Media 700-600 */
@media screen and (max-width: 700px)
{

}

@media screen and (max-width: 600px)
{

}
/*#endregion Media 700-600 */

/*#region Media 500-400 */
@media screen and (max-width: 500px)
{

}

@media screen and (max-width: 400px)
{
    .topBar .Title
    {
        font-size: 26px;
    }

    .sideBar
    {
        height: 50px;
    }

    .sideBar.Home .linkHolder a
    {
        font-size: 20px;
    }

    .sideBar .mobileBottomBar .buttonsHolder
    {
        height: 30px;
        font-size: 20px;
    }

    .gameHolder, .appHolder
    {
        height: 280px;
    }

    .gameHolder img.Logo
    {
        width: 60px;
        height: 60px;
        top: 15;
        left: 15;
    }

    .gameHolder .gameTitle
    {
        width: calc(100% - 105px);
        top: 25;
        left: 90;
        font-size: 24px;
        text-align: center;
    }

    .gameHolder .gameCompatibleText
    {
        top: 90;
        left: 15;
        font-size: 16;
    }

    .gameHolder .gameVersion
    {
        top: 120;
        left: 15;
        font-size: 16;
    }

    .gameHolder .gameDescroption
    {
        width: calc(100% - 30px);
        top: 150;
        left: 15;
        font-size: 16;
    }

    .gameHolder .gameDownloadButton
    {
        font-size: 18px;
        border-radius: 30px;
    }

    .gameHolder .gameSeeMoreButton
    {
        right: 145;
        font-size: 18px;
    }
}
/*#endregion Media 500-400 */

/*#region Media 350 */
@media screen and (max-width: 350px)
{
    .gameHolder .gameTitle
    {
        font-size: 22px;
    }
}
/*#endregion Media 350 */
